.top-buffer {
  margin-top: 20px;
}
/*
   border-serrated - a zig zag triangle border with linear gradient
   original SASS version: https://gist.github.com/justinmc/9837998
*/
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn-default {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}
.btn-default:active,
.btn-default.active {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
}
.btn-primary {
  background-image: -webkit-linear-gradient(top, #989377 0%, #77735a 100%);
  background-image: linear-gradient(to bottom, #989377 0%, #77735a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff989377', endColorstr='#ff77735a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #726d56;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #77735a;
  background-position: 0 -15px;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #77735a;
  border-color: #726d56;
}
.btn-success {
  background-image: -webkit-linear-gradient(top, #047d5e 0%, #024231 100%);
  background-image: linear-gradient(to bottom, #047d5e 0%, #024231 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff047d5e', endColorstr='#ff024231', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #02382a;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #024231;
  background-position: 0 -15px;
}
.btn-success:active,
.btn-success.active {
  background-color: #024231;
  border-color: #02382a;
}
.btn-info {
  background-image: -webkit-linear-gradient(top, #f55d2c 0%, #d93d0a 100%);
  background-image: linear-gradient(to bottom, #f55d2c 0%, #d93d0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff55d2c', endColorstr='#ffd93d0a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #d03a0a;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #d93d0a;
  background-position: 0 -15px;
}
.btn-info:active,
.btn-info.active {
  background-color: #d93d0a;
  border-color: #d03a0a;
}
.btn-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #e38d13;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #eb9316;
  background-position: 0 -15px;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #eb9316;
  border-color: #e38d13;
}
.btn-danger {
  background-image: -webkit-linear-gradient(top, #ec6c69 0%, #e53733 100%);
  background-image: linear-gradient(to bottom, #ec6c69 0%, #e53733 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec6c69', endColorstr='#ffe53733', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #e42e2a;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #e53733;
  background-position: 0 -15px;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #e53733;
  border-color: #e42e2a;
}
.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-color: #e8e8e8;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-linear-gradient(top, #989377 0%, #8c876a 100%);
  background-image: linear-gradient(to bottom, #989377 0%, #8c876a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff989377', endColorstr='#ff8c876a', GradientType=0);
  background-color: #8c876a;
}
.navbar-default {
  background-image: -webkit-linear-gradient(top, #f7825d 0%, #f55d2c 100%);
  background-image: linear-gradient(to bottom, #f7825d 0%, #f55d2c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7825d', endColorstr='#fff55d2c', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #f44a14 0%, #f55622 100%);
  background-image: linear-gradient(to bottom, #f44a14 0%, #f55622 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff44a14', endColorstr='#fff55622', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #222222 0%, #282828 100%);
  background-image: linear-gradient(to bottom, #222222 0%, #282828 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.alert-success {
  background-image: -webkit-linear-gradient(top, #047d5e 0%, #035842 100%);
  background-image: linear-gradient(to bottom, #047d5e 0%, #035842 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff047d5e', endColorstr='#ff035842', GradientType=0);
  border-color: #023326;
}
.alert-info {
  background-image: -webkit-linear-gradient(top, #cac5ac 0%, #bbb595 100%);
  background-image: linear-gradient(to bottom, #cac5ac 0%, #bbb595 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcac5ac', endColorstr='#ffbbb595', GradientType=0);
  border-color: #aca47d;
}
.alert-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #ed9d2b 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #ed9d2b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffed9d2b', GradientType=0);
  border-color: #df8a13;
}
.alert-danger {
  background-image: -webkit-linear-gradient(top, #ec6c69 0%, #e84b47 100%);
  background-image: linear-gradient(to bottom, #ec6c69 0%, #e84b47 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec6c69', endColorstr='#ffe84b47', GradientType=0);
  border-color: #e32925;
}
.progress {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}
.progress-bar {
  background-image: -webkit-linear-gradient(top, #989377 0%, #7d795f 100%);
  background-image: linear-gradient(to bottom, #989377 0%, #7d795f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff989377', endColorstr='#ff7d795f', GradientType=0);
}
.progress-bar-success {
  background-image: -webkit-linear-gradient(top, #047d5e 0%, #024c39 100%);
  background-image: linear-gradient(to bottom, #047d5e 0%, #024c39 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff047d5e', endColorstr='#ff024c39', GradientType=0);
}
.progress-bar-info {
  background-image: -webkit-linear-gradient(top, #f55d2c 0%, #e3400b 100%);
  background-image: linear-gradient(to bottom, #f55d2c 0%, #e3400b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff55d2c', endColorstr='#ffe3400b', GradientType=0);
}
.progress-bar-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
}
.progress-bar-danger {
  background-image: -webkit-linear-gradient(top, #ec6c69 0%, #e6403c 100%);
  background-image: linear-gradient(to bottom, #ec6c69 0%, #e6403c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec6c69', endColorstr='#ffe6403c', GradientType=0);
}
.list-group {
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #7d795f;
  background-image: -webkit-linear-gradient(top, #989377 0%, #848064 100%);
  background-image: linear-gradient(to bottom, #989377 0%, #848064 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff989377', endColorstr='#ff848064', GradientType=0);
  border-color: #848064;
}
.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #989377 0%, #8c876a 100%);
  background-image: linear-gradient(to bottom, #989377 0%, #8c876a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff989377', endColorstr='#ff8c876a', GradientType=0);
}
.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, #047d5e 0%, #03644b 100%);
  background-image: linear-gradient(to bottom, #047d5e 0%, #03644b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff047d5e', endColorstr='#ff03644b', GradientType=0);
}
.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, #cac5ac 0%, #c0ba9c 100%);
  background-image: linear-gradient(to bottom, #cac5ac 0%, #c0ba9c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcac5ac', endColorstr='#ffc0ba9c', GradientType=0);
}
.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eea236 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #eea236 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeea236', GradientType=0);
}
.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, #ec6c69 0%, #e95652 100%);
  background-image: linear-gradient(to bottom, #ec6c69 0%, #e95652 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec6c69', endColorstr='#ffe95652', GradientType=0);
}
.well {
  background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
  border-color: #dcdcdc;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}
